footer {
  color: white;
  text-align: center;
  margin-top: auto;
}
.contenido {
  flex: 1;
}

.sectionDetalles {
  /* margin-top: 80px;  */
  color: black;
  background-color: #65212141;
}

.btn-custom {
  background-color: #979ea5; /* Gris oscuro */
  border: 1px solid #6c757d;
  color: white;
}
.btn-custom:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
.btn-group-custom {
  display: flex;
  gap: 0;
}
.btn-group-custom .btn {
  border-radius: 0;
}
.btn-group-custom .btn:not(:last-child) {
  border-right: 1px solid #6c757d;
}

/* ********************************** */
/*         CONTENIDO PRINCIPAL        */
/* ********************************** */
.main-content {
  grid-row: 1/3;
  grid-column: 2/-1;

  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title-playlist {
  font-size: 2.4rem;
  color: #d1c5c5;
  font-weight: 600;
}

.container-name-concentracion,
.container-name-playlists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.container-card-concentracion,
.container-card-playlists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2.4rem;
}

.card-concentracion,
.card-playlists {
  background-color: #181818;
  border-radius: 0.5rem;
  padding: 1.6rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.card-concentracion:hover,
.card-playlists:hover {
  background-color: #282828;
}

.card-img img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-img {
  overflow: hidden;
}

.card h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
}

.card p {
  font-size: 1.3rem;
  color: #b3b3b3;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
